#app {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

#app-logo {
  /*height: 80px;*/

  width: 40vw;
  height: 50px;
}

.text-center {
  text-align: center;
}

.outlet {
  flex-grow: 2;
  height: calc(100vh - 50px - 40px - 20px);
  overflow: scroll;

  padding-top: 10px;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-image: url(/bg.jpg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

html body * {
  color: #f0f0f0;
}

html, body, body > .ember-view, #app {
  height: 100%;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
  height: 40px;
  align-items: center;
  font-family: 'Indie Flower', sans-serif;
  font-size: 33px;
}

.footer-menu a.active {
  color: #00BAF2;
  font-weight: bold;
}


/* Schedule */

.schedule-h1 {
  display: flex;
  align-items: baseline;
}

.speech-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.speech-time {
  min-width: 95px;
}

.ember-power-select-selected-item, .ember-power-select-option {
  color: black;
}

.ember-power-select-option {
  line-height: 3;
}

.ember-power-select-trigger {
  width: 50vw;
  font-size: smaller;
  margin: 0 0 0 15px;
}



/* Speech */
.speaker-avatar {
  width: 95vw;
}

.speech-description {
  font-family: inherit;
}

.speeches > a {
  text-decoration: none;
}


/* now */
.now-page {
  display: flex;
  margin-top: 25px;
}


/* Talk-item on now */
.now-page > div {
  flex-basis: 50%;
  transition: 2s ease-in-out;
  display: flex;
  flex-direction: column;
}

.now-page > .break-time {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.now-page > div h2 {
  margin: 0;
  flex-grow: 2;
}

.talk-image {
  width: 47vw;
}

.break-time {
  margin-top: 40px;
}

/* Technical picked */
.now-page > div.technical.picked {
  transform: translateX(25%) scale(1.2) translateY(8%);
}

.now-page > div.business.not-picked {
  transform: translateX(50%);
}

/* Business picked */
.now-page > div.technical.not-picked {
  transform: translateX(-50%);
}

.now-page > div.business.picked {
  transform: translateX(-25%) scale(1.2) translateY(8%);
}

.pick-speaker {
  font-size: x-large;
  padding: 5px 25px;
  background-color: #00BAF2;
  border: 3px solid white;
  align-self: center;
}


